@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.body-contato{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-contato{
    flex: 1;
}
.body-sobre{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-sobre{
    flex: 1;
}

/* HEADER|HOME|MENU|SOBRE|CONTATO */

header{
    display: flex;
    border-bottom: 2px solid red;
    justify-content: space-around;
    align-items: center;
}
header img{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-top: 10px;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}
nav ul li a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease;
}
nav ul li a:hover {
    border: 2px solid red;
    border-radius: 20px;
    padding: 5px;
    color: red;
}
.user-icons a {
    color: #333;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}
.user-icons a:hover {
    color: #000;
}

/* PRÉVIA DO CARDÁPIO */

.hero {
    background-color: #fff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.hero p {
    font-size: 1.2rem;
    color: #333;
    margin: 20px 0;
}

.hero-btn {
    background-color: #e60000;
    color: white;
    padding: 10px 20px;
    border-radius: 20px 0 20px 0;
    text-decoration: none;
    font-weight: bold;
}

.hero-btn:hover {
    background-color: #cc0000;
}

/* ESPECIALIDADES */

.especialidade-content {
    border-top: 2px solid red;
    background-color: #fff;
    text-align: center;
    padding: 70px;
}

.especialidade-content h1 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.especialidade-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* CARDS */

.menu-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    max-width: auto;
    margin: 0 auto;
}
.menu-previa{
    width: 280px;
    height: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    border: 2px solid #000;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.menu-previa h3{
    color: red;
    align-self: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-previa img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}
.botton{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin-top: auto;
    align-self: center;
    font-weight: 600;
    width: 100%;
}
.botton:hover{
    color: red;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* AVALIAÇÕES */

.avaliacoes-pagina{
    border-top: 2px solid red;
    background-color: #fff;
    text-align: center;
    padding: 70px;
}
.avaliacoes-pagina h1 {
    font-size: 2rem;
    margin-bottom: 50px;
}
.avaliacoes {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.avaliacoes h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #e60000;
}
.avaliacoes-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.balao-avaliacao {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 15px 20px;
    border-radius: 20px;
    max-width: 300px;
    justify-content: center;
    margin: 20px;
    font-family: sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.balao-avaliacao::after {
    position: absolute;
    bottom: -15px;
    left: 30px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #f0f0f0;
}

.balao-avaliacao .autor {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

/* CHÃO DA PÁGINA */

footer{
    background: #e60000;
    color: white;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    min-height: 26vh;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-contact {
    display: flex;
    gap: 15px;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}
.footer-contact img {
    width: 50px;
    height: auto;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    display: flex;
    margin-bottom: 5px;
}
.footer-links a,
.footer-social a {
    color: white;
    text-decoration: none;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.footer-social a {
    margin-right: 10px;
    font-size: 20px;
}
.footer-links a:hover, .footer-social a:hover{
    text-decoration: underline;
    color: black;
    transition: background-color 0.3s ease;
}